.env
node_modules
dist
coverage
.vscode
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
node_modules/
package-lock.json
yarn-error.log
npm-debug.log
yarn-debug.log